/***********
	Project Vera Test Messenger
	Custom styles
	(c) 2016 Cathay Pacific Airways Ltd.
***********/


/********** IMPORT **********/



/********** MIXINS **********/
/** With references from https://web-design-weekly.com/2013/05/12/handy-sass-mixins/ **/

@mixin respond-to($breakpoint) {
  //http://www.sitepoint.com/managing-responsive-breakpoints-sass/

  @if $breakpoint == "small" {
    @media (min-width: 767px) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}


@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  //Pass in the desired location of your target element to produce all the necessary positioning code.
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius
@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  background-clip: padding-box;
}
@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  background-clip: padding-box;
}


@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}


@mixin center-block {
  // Quickly center any element within its parent. Requires width or max-width to be set.
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


@mixin text-truncate {
  //An easy way to truncate text with an ellipsis. Requires the element to be block or inline-block.
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



/********** FONTS **********/
@font-face {
  font-family: 'Cathay Pacific';
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Lt.eot");
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/cathaypacific/CathayPacific_WCorp_Lt.woff") format("woff"), url("../fonts/cathaypacific/CathayPacific_WCorp_Lt.ttf") format("truetype"), url("../fonts/cathaypacific/CathayPacific_Lt.svg#Cathay Pacific Light") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Cathay Pacific';
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Rg.eot");
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/cathaypacific/CathayPacific_WCorp_Rg.woff") format("woff"), url("../fonts/cathaypacific/CathayPacific_WCorp_Rg.ttf") format("truetype"), url("../fonts/cathaypacific/CathayPacific_Rg.svg#Cathay Pacific") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cathay Pacific';
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Md.eot");
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Md.eot?#iefix") format("embedded-opentype"), url("../fonts/cathaypacific/CathayPacific_WCorp_Md.woff") format("woff"), url("../fonts/cathaypacific/CathayPacific_WCorp_Md.ttf") format("truetype"), url("../fonts/cathaypacific/CathayPacific_Md.svg#Cathay Pacific Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Cathay Pacific';
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Bd.eot");
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/cathaypacific/CathayPacific_WCorp_Bd.woff") format("woff"), url("../fonts/cathaypacific/CathayPacific_WCorp_Bd.ttf") format("truetype"), url("../fonts/cathaypacific/CathayPacific_Bd.svg#Cathay Pacific Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

strong {
  font-weight: 500;
}


/********** COLOURS **********/
$white: #FFFFFF;
$black: #000000;
$cx-green: #006564;
$cx-red: #C2262E;

$cx-green-secondary: #367D79;
$cx-green-warm: #498169;
$cx-gold: #c1b49a;
$cx-champagne: #dcd3bc;
$cx-blue-link: #0f748f;

$cx-grey-dark: #4c4c4c;
$cx-grey-medium: #767676;
$cx-grey-warm: #c6c2c1;
$cx-grey-cool: #d7d7d7;
$cx-grey-light: #ebedec;

$cx-error: #e32020;
$cx-alert: #fed700;
$cx-clay: #fcf6ea;

$cx-economy: #006564;
$cx-premium-economy: #4e86a0;
$cx-business: #002e6c;
$cx-first: #832c40;



/********** STRUCTURE **********/
body, html {
	margin: 0;
  padding: 0;
  height: 100%;
  font-size: 18px;
}

html { 
  font-family: 'Cathay Pacific';
  font-weight: 300;
}

.container {
  width: 100%;
  height: 100%;
  background: #FAFAFA;
  padding: 0;
}

.flexbox {
}


/********** GENERAL TEXT STYLE **********/



/********** CHAT COMPONENTS **********/
.chat-block {
  margin-bottom: 40px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li.chat-bubble {
    max-width: 90%;
    width: auto;
    background: #EEEEEE;
    margin-bottom: 10px;
    padding: 20px;
    float: left;
    clear: both;
    @include border-radius(10px);
    @include box-shadow(0, 2px, 5px, rgba(0,0,0,0.15));
  }

  &.user li.chat-bubble {
    background: $cx-blue-link;
    color: $white;
    float: right;
    @include box-shadow(0, 2px, 5px, rgba(15,116,143,0.2));
  }

  &.user li.chat-bubble:last-child {
    margin-bottom: 0px;
    @include border-bottom-right-radius(0px);
  }

  &.vera li.chat-bubble:last-child {
    margin-bottom: 0px;
    @include border-bottom-left-radius(0px);
  }
}

.chat-status {
  color: $cx-grey-cool;
  text-align: right;
  font-size: 0.667em;
  font-weight: 500;
  right: 10px;
  top: 0px;
  position: relative;
}


.chat-footer-message-entry {
  width: 100%;
  height: auto;
  max-height: 3.833em;
  font-size: 1.333em;
  outline: none;
  border: 0;
  margin: 50px 20px 50px 40px;
  resize: none;

  .placeholder {
    color: $cx-grey-cool;
  }
}

.chat-send {
  font-size: 1.333em;
  margin: 50px 0 50px 0;
  color: $cx-red;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}



/********** CHAT STRUCTURE **********/
.chat-footer {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.chat-footer-container {
  width: 100%;
  height: auto;
  max-width: 1024px;
  background: $white;
  margin: 0 auto;
  position: relative;
  //@include box-shadow(0, 5px, 10px, rgba(0,0,0,0.15));
  z-index: 100;
}

.chat-footer-shadow-container {
  background: red;
  height: 50px;
  z-index: 100;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  top: 50px;
}

.chat-footer-shadow {
  background: yellow;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  @include box-shadow(0, 0px, 40px, rgba(0,0,0,0.20));
}

.chat-window {
  max-width: 1024px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px 10px 1000px 10px;
  background: #FFFFFF;
  overflow: scroll;

  @include respond-to(small) { 
    padding: 60px 40px 140px 40px;
  }

  .chat-block:last-child {
     margin-bottom: 160px;
  }
}
