/***********
	Project Vera Test Messenger
	Custom styles
	(c) 2016 Cathay Pacific Airways Ltd.
***********/
/********** IMPORT **********/
/********** MIXINS **********/
/** With references from https://web-design-weekly.com/2013/05/12/handy-sass-mixins/ **/
/********** FONTS **********/
@font-face {
  font-family: 'Cathay Pacific';
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Lt.eot");
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/cathaypacific/CathayPacific_WCorp_Lt.woff") format("woff"), url("../fonts/cathaypacific/CathayPacific_WCorp_Lt.ttf") format("truetype"), url("../fonts/cathaypacific/CathayPacific_Lt.svg#Cathay Pacific Light") format("svg");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Cathay Pacific';
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Rg.eot");
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/cathaypacific/CathayPacific_WCorp_Rg.woff") format("woff"), url("../fonts/cathaypacific/CathayPacific_WCorp_Rg.ttf") format("truetype"), url("../fonts/cathaypacific/CathayPacific_Rg.svg#Cathay Pacific") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Cathay Pacific';
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Md.eot");
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Md.eot?#iefix") format("embedded-opentype"), url("../fonts/cathaypacific/CathayPacific_WCorp_Md.woff") format("woff"), url("../fonts/cathaypacific/CathayPacific_WCorp_Md.ttf") format("truetype"), url("../fonts/cathaypacific/CathayPacific_Md.svg#Cathay Pacific Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Cathay Pacific';
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Bd.eot");
  src: url("../fonts/cathaypacific/CathayPacific_WCorp_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/cathaypacific/CathayPacific_WCorp_Bd.woff") format("woff"), url("../fonts/cathaypacific/CathayPacific_WCorp_Bd.ttf") format("truetype"), url("../fonts/cathaypacific/CathayPacific_Bd.svg#Cathay Pacific Bold") format("svg");
  font-weight: 700;
  font-style: normal; }
strong {
  font-weight: 500; }

/********** COLOURS **********/
/********** STRUCTURE **********/
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 18px; }

html {
  font-family: 'Cathay Pacific';
  font-weight: 300; }

.container {
  width: 100%;
  height: 100%;
  background: #FAFAFA;
  padding: 0; }

/********** GENERAL TEXT STYLE **********/
/********** CHAT COMPONENTS **********/
.chat-block {
  margin-bottom: 40px; }
  .chat-block ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .chat-block li.chat-bubble {
    max-width: 90%;
    width: auto;
    background: #EEEEEE;
    margin-bottom: 10px;
    padding: 20px;
    float: left;
    clear: both;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); }
  .chat-block.user li.chat-bubble {
    background: #0f748f;
    color: white;
    float: right;
    -webkit-box-shadow: 0 2px 5px rgba(15, 116, 143, 0.2);
    -moz-box-shadow: 0 2px 5px rgba(15, 116, 143, 0.2);
    box-shadow: 0 2px 5px rgba(15, 116, 143, 0.2); }
  .chat-block.user li.chat-bubble:last-child {
    margin-bottom: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-clip: padding-box; }
  .chat-block.vera li.chat-bubble:last-child {
    margin-bottom: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-clip: padding-box; }

.chat-status {
  color: #d7d7d7;
  text-align: right;
  font-size: 0.667em;
  font-weight: 500;
  right: 10px;
  top: 0px;
  position: relative; }

.chat-footer-message-entry {
  width: 100%;
  height: auto;
  max-height: 3.833em;
  font-size: 1.333em;
  outline: none;
  border: 0;
  margin: 50px 20px 50px 40px;
  resize: none; }
  .chat-footer-message-entry .placeholder {
    color: #d7d7d7; }

.chat-send {
  font-size: 1.333em;
  margin: 50px 0 50px 0;
  color: #c2262e;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer; }

/********** CHAT STRUCTURE **********/
.chat-footer {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0; }

.chat-footer-container {
  width: 100%;
  height: auto;
  max-width: 1024px;
  background: white;
  margin: 0 auto;
  position: relative;
  z-index: 100; }

.chat-footer-shadow-container {
  background: red;
  height: 50px;
  z-index: 100;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  top: 50px; }

.chat-footer-shadow {
  background: yellow;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0px 40px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.2); }

.chat-window {
  max-width: 1024px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px 10px 1000px 10px;
  background: #FFFFFF;
  overflow: scroll; }
  @media (min-width: 767px) {
    .chat-window {
      padding: 60px 40px 140px 40px; } }
  .chat-window .chat-block:last-child {
    margin-bottom: 160px; }
